.room-section {
  display: grid;
  background: transparent;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-around;
  align-content: start;
  height: 100vh;
}
.room-header {
  display: grid;
  gap: 1rem;
  width: 90vw;
  height: min-content;
  padding-top: 3rem;
  justify-content: space-between;
}

.room-title {
  cursor: default;
  color: var(--text-color);
  font-weight: bold;
  width: max-content;
}
.room-description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-50);
  border: transparent;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}
.btn:hover {
  background: var(--primary-95);
  color: var(--black);
}
