.card-layout {
  z-index: 9999;
  position: fixed;
  top: var(--nav-height);
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.8;
}
.smiley-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 4rem;
  justify-content: center;
}
.icon {
  color: yellow;
  font-size: 28rem;
}
